In [3]:
%matplotlib inline
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [3]:
print("Total numbers of movies in data frame: ",titles.shape[0])

Total numbers of movies in data frame:  244914

### What are the earliest two films listed in the titles dataframe?

In [4]:
df = titles.sort_values(by=["year"])
print("The earliest two films listed in the titles dataframe is\n",df.head(2))

The earliest two films listed in the titles dataframe is
                      title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [20]:
titles[titles["title"]=="Hamlet"].count()

title    20
year     20
dtype: int64

### How many movies are titled "North by Northwest"?

In [21]:
titles[titles["title"]=="North by Northwest"].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [24]:
df1 = titles[titles["title"]=="Hamlet"].sort_values(by=["year"])
df1.head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [26]:
df2 = titles[titles["title"]=="Treasure Island"].sort_values(by=["year"])
df2

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [27]:
titles[titles["year"]== 1950].count()

title    1113
year     1113
dtype: int64

### How many movies were made in the year 1960?

In [28]:
titles[titles["year"]== 1960].count()

title    1549
year     1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [39]:
# x= 1950
# total=0
# for i in range(1950,1960):
#     df3 = titles[titles["year"]== x].count()
#     total = df3 + total
#     x=x+1
# print(total)
titles[(titles["year"]>= 1950) & (titles["year"]<=1959)].count()

title    12934
year     12934
dtype: int64

### In what years has a movie titled "Batman" been released?

In [40]:
df3 = titles[titles["title"]=="Batman"]
df3["year"]

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [4]:
cast = pd.read_csv('cast.csv')

In [5]:
df4 = cast[cast["title"]=="Inception"]
df4["character"].count()

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [58]:
df4['n'].isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [65]:
df4['n'].dropna().count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
df5 = cast[cast["title"]=="North by Northwest"].sort_values(by=["n"])
df5 = df5.dropna(subset=["n"])
list(df5["name"])

['Cary Grant',
 'Eva Marie Saint',
 'James Mason',
 'Jessie Royce Landis',
 'Leo G. Carroll',
 'Josephine Hutchinson',
 'Philip Ober',
 'Martin Landau',
 'Adam Williams',
 'Edward Platt',
 'Robert Ellenstein',
 'Les Tremayne',
 'Philip Coolidge',
 'Patrick McVey',
 'Edward Binns',
 'Ken Lynch']

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
df6 = cast[(cast["title"]=="Sleuth") &(cast["year"]==1972)].sort_values(by=["n"])
list(df6["name"])

['Laurence Olivier',
 'Michael Caine',
 'Alec Cawthorne',
 'John (II) Matthews',
 'Eve (III) Channing',
 'Teddy Martin']

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [17]:
df6 = cast[(cast["title"]=="Sleuth") &(cast["year"]==2007)].sort_values(by=["n"])
list(df6["name"])

['Michael Caine',
 'Jude Law',
 'Harold Pinter',
 'Kenneth Branagh',
 'Alec (II) Cawthorne',
 'Eve (II) Channing',
 "Carmel O'Sullivan"]

### How many roles were credited in the silent 1921 version of Hamlet?

In [29]:
df7 = cast[(cast["title"]=="Hamlet") & (cast["year"]==1921)] 
df7["character"].count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [42]:
df8 = cast[(cast["title"]=="Hamlet") & (cast["year"]==1996)] 
df8["character"].count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [43]:
df9 = cast[cast["title"]=="Hamlet"] 
df9["character"].count()

342

### How many people have played an "Ophelia"?

In [54]:
df10 = cast[cast["character"]=="Ophelia"]
df10["name"].drop_duplicates().count()

115

### How many people have played a role called "The Dude"?

In [55]:
df10 = cast[cast["character"]=="The Dude"]
df10["name"].drop_duplicates().count()

19

### How many people have played a role called "The Stranger"?

In [56]:
df10 = cast[cast["character"]=="The Stranger"]
df10["name"].drop_duplicates().count()

202

### How many roles has Sidney Poitier played throughout his career?

In [63]:
df11= cast[cast["name"]=="Sidney Poitier"]
df11["character"].drop_duplicates().count() #same roles can be played in different movies #we count only different roles

41

### How many roles has Judi Dench played?

In [64]:
df11= cast[cast["name"]=="Judi Dench"]
df11["character"].drop_duplicates().count() #same roles can be played in different movies #we count only different roles

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [67]:
df12= cast[(cast["name"]=="Cary Grant") & (cast["n"]==2.0) & (cast["year"]>=1940) & (cast["year"]<=1949) ].sort_values(by=["year"])
df12

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [68]:
df13= cast[(cast["name"]=="Cary Grant") & (cast["n"]==1.0) & (cast["year"]>=1940) & (cast["year"]<=1949) ].sort_values(by=["year"])
df13

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [71]:
df12= cast[(cast["year"]>=1950) & (cast["year"]<=1959) & (cast["type"]=="actor") ]
df12["character"].count()

157738

### How many roles were available for actresses in the 1950s?

In [72]:
df12= cast[(cast["year"]>=1950) & (cast["year"]<=1959) & (cast["type"]=="actress") ]
df12["character"].count()

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [73]:
df12= cast[(cast["year"]>=1980) & (cast["n"]==1.0) ]
df12["character"].count()

89276

### How many non-leading roles were available through from the beginning of film history through 1980?

In [74]:
df12= cast[(cast["year"]>=1980) & (cast["n"]!=1.0) ]
df12["character"].count()

2537565

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [81]:
df12= cast[(cast["year"]>=1980) & (cast["n"].isna())]
df12["character"].count()

1014692